.App {
  text-align: left;
  background-color: rgba(245, 232, 245, 0.938);
  border-radius: 10px;
  border: 3px solid rgb(101, 19, 104);
  max-width: 900px;
  margin: 0 auto;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 3em;
  font-size: 40px;
  color: maroon;
  font-style: italic;
  font-weight: bold;
}

footer {
  text-align: center;
  margin: 2em;
  color: rgb(71, 1, 1);
}

footer a {
  color: rgb(153, 6, 6);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: rgb(101, 19, 104);
}

@media (max-width: 650px) {
  .App {
    max-width: 100%;
    border: 1px solid rgb(101, 19, 104);
  }

  .App-header {
    margin: 15px 0;
    font-size: 25px;
  }
}
