.Meaning {
  padding: 0.3em;
}

.Meaning h3 {
  font-style: italic;
  padding-bottom: 0.5em;
  background: linear-gradient(
    102.3deg,
    rgb(122, 79, 92) 5.9%,
    rgb(234, 172, 232) 64%,
    rgb(228, 203, 227) 89%
  );
  border-radius: 5px;
}

.Meaning h3 {
  color: rgb(243, 233, 236);
  padding-left: 10px;
  font-size: 30px;
}

.Meaning em {
  color: rgba(109, 5, 5, 0.685);
}

@media (max-width: 650px) {
  .Meaning {
    padding: 0.1em;
  }
  .Meaning h3 {
    font-size: 20px;
  }
}
